* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
}


header {
    background: #5195d4;
    position: sticky;
    height: 10vh;
    top: 0;
}

.hero {
    height: 100vh;
    background-image: url("https://media.istockphoto.com/id/876560704/pt/foto/fuji-japan-in-spring.jpg?s=612x612&w=0&k=20&c=aN5Cwdl3dSlNKXMcTbHONid4JlUaXCeJHIx6GDJU_zE=");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero nav {
  justify-content: flex-end;
  align-items: flex-start;
}

.hero h1 {
    display: flex;
  justify-content: center;
  align-items: center;
}

#projetos {
    height: 100vh;
    background: rgb(255, 215, 162);
}

#projetos nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


#projetos nav a {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;

    width: 100px;
    height: 100px;
    margin: 10px;
    
    background-color: white;
    border-radius: 10px; /* arredonda os cantos */
    box-shadow: 5px 5px 15px grey;
}



section:nth-child(3) {
    height: 100vh;
}

footer {
    height: 10vh;
    background: black;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color: inherit;

}

img { 
    width: 300px
}