* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}


header {
    background: #2D283E;
    position: sticky;
    height: 10vh;
    top: 0;
}

section:nth-child(1) {
    height: 100vh;
    background-image: url("https://media.istockphoto.com/id/876560704/pt/foto/fuji-japan-in-spring.jpg?s=612x612&w=0&k=20&c=aN5Cwdl3dSlNKXMcTbHONid4JlUaXCeJHIx6GDJU_zE=");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section:nth-child(2) {
    height: 100vh;
    background: orange;
}

section:nth-child(3) {
    height: 100vh;
}

footer {
    height: 10vh;
    background: black;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color: inherit;

}

#projetos nav a {
    padding: 10px 20px;
  background-color: white;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  box-shadow: 2px 3px 3px lightgrey;
}

nav:nth-child(1) {
  display: flex;
  justify-content: space-between;
}

img { 
    width: 300px
}