* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

header, footer, section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
  height: 100vh;
}


header {
    background: #0a2426;
    color: white;
    position: sticky;
    height: 10vh;
    top: 0;
}

.hero {
    height: 100vh;
    background-image: url('images/fundo2.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.texto-hero {
    position: absolute;
    top: 50%;
    font: bold 30px sans-serif;
}


.projetos-hero {
  padding: 12px 32px;
  background-color: #9fb8c2;
  color: #fff;
  font-size: 40px;
  border-radius: 12px;
  font-weight: bold;
  transition: background 1s;
  text-decoration: none;
}


#menu-hero {
    position: absolute;
    top: 100px;
    right: 0;
    margin: 10px;
}




#projetos {
    height: 100vh;
    background: #9fb8c2;
}

#projetos nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


#projetos nav a {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;

    width: 100px;
    height: 100px;
    margin: 10px;
    
    background-color: white;
    border-radius: 10px; /* arredonda os cantos */
    box-shadow: 5px 5px 15px grey;
}

#cadeira {
    background: #d4dbda;
}


footer {
    height: 10vh;
    background: black;
    color: #ffffff;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color: inherit;

}

img { 
    width: 300px
}