body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #af4c4c; /* verde */
    color: white;

    display: flex;
    justify-content: space-between;
    gap: 10px;
    
    padding: 10px;
}

header h1 {
    display: flex;
    justify-content: space-between;
    
    margin: 0;
}

nav {
  display: flex;
  gap: 10px;
}

nav a {
    padding: 10px 20px;
    background-color: #333;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 3px 3px #333;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.cidade {
  display: none;
}

.flex-container{
  display: flex;
  gap: 10px;
}



@media (max-width: 600px) {
    header, nav {
    flex-direction: column;
  }
  nav {
    display: none;
  }
  header:hover nav {
    display: flex;
  }
   .cidade {
    display: block;
  }

  .flex-container {
    display:flex;
    flex-direction: column;
  }
}